/* Mobile Menu Toggle Classes */

@media (max-width: 767px) {

    #mobile-menu {
        opacity: 0  ;
        visibility: hidden  ;
    }

    header.mobile-menu-open {
        background-color: white;
    }

    body.mobile-menu-open {
        background-color: white;
    }

    main.mobile-menu-open {
        opacity: 0.2;
    }

    #mobile-menu.menu-open {
        opacity: 1  ;
        visibility: visible  ;
    }

    .sub-menu {
        overflow: hidden;
        height: 0;
    }

    .sub-menu.sub-menu-open {
        height: auto  ;
    }

    .sub-menu.sub-menu-closed {
        height: 0  ;
    }

    .sub-menu-toggle .dropdown-arrow {
        transform: rotate(0deg);
    }

    .sub-menu-toggle.toggle-open .dropdown-arrow {
        transform: rotate(180deg);
    }

    #mobile-menu-button.burger-open div:nth-child(1) {
        transform: translateY(4px) rotate(45deg);
    }

    #mobile-menu-button.burger-open div:nth-child(2) {
        transform: translateY(-4px) rotate(-45deg);
    }
}
