@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    @apply font-base;
  }

  body {
    @apply font-base;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-head;
  }

  h1, .h1 { @apply text-4xl md:text-5xl mb-4; }
  h2, .h2 { @apply text-3xl md:text-4xl mb-4; }
  h3, .h3 { @apply text-2xl md:text-3xl mb-4; }
  h4, .h4 { @apply text-xl md:text-2xl mb-4; }
  h5, .h5 { @apply text-lg md:text-xl mb-4; }
  p, .p { @apply text-base md:text-lg mb-4; }
}

@layer components {
  .container {
    @apply py-12 max-w-[2000px];
  }

  button {
    @apply inline-flex items-center justify-center uppercase tracking-wide !px-4 !py-2 bg-black text-white;
  }
}
